.containerHeader {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
  height: 40%;
}

.valueCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headerPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.h4Currency {
  color: #003BE5;
}

.h4Email {
  color: #2FC18C;
}
