* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './css/Login.css';

@import './css/Wallet.css';

@import './css/Header.css';

@import './css/Table.css';

@import './css/WalletForm.css';
